body {
    font-family: 'Source Sans Pro', sans-serif;
}

.row .col-md-6 {
    border: 0.5px #ffffff solid;
    background-color: #f5f5f5;
    padding: 5px;
}

.comment-message {
    margin: 0px;
}

.comment-artwork img{
    width: 8rem;
}

.comment-date {
    margin: 0px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-style: italic;
    font-size: 0.9em;
    color: #444444;
}

.search-menu-not-logged-in {
  font-style: italic;
  font-size: 0.9em;
}

.search-menu-song {
    font-weight: bold;
}

.search-menu-artist {
    font-style: italic;
}

.search-artwork img{
    width: 3rem;
    float: right;
}

.ui-autocomplete-category {
    background-color: #dddddd;
    padding-left: 6px;
}

.ui-autocomplete {
    z-index: 1022;
}

.navbar-brand {
    padding: 0;
}

#logo {
    max-height: 60px;
}

.site-footer {
    background-color: #dddddd;
    border-top: 4px #cdcdcd solid;
    min-height: 10rem;
}

.pad-top-1 {
    padding-top: 1rem;
}

.left-pad {
    padding-left: 2rem;
}

.link-container {
    overflow-x: scroll;
    overflow-y:hidden;
    white-space: nowrap;
    width: 100%;
}

.song-link {
    margin-right: 4rem;
    width: 14rem;
    display: inline-block;
}

.song-link img {
    width: 14rem;
}

.song-link  div p {
    margin:0;
    color: white;
}

.song-link div {
    position: relative;
    bottom: 1.4rem;
    text-align: center;
    width: auto;
    background: rgba(0.3,0.3,0.3,0.85);
}

#cover-img {
    width: inherit;
}

#comment-row {
    margin: 0;
}

#spotify-results {
    padding:0;
}

#spotify-results div{
    border-bottom: 1px #efefef solid;
}
.result-head {
    margin: 0;
}
.result-img {
    width: inherit;
}

textarea {
    resize: none;
}

.result {
    text-decoration: none;
    color: inherit;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
