.search-menu-song {
    font-weight: bold;
}

.search-menu-artist {
    font-style: italic;
}

.ui-autocomplete-category {
    background-color: #dddddd;
}

.ui-autocomplete {
    z-index: 1022;
}

.navbar-brand {
    padding: 0px;
}

#logo {
    max-height: 60px;
}

.site-footer {
    background-color: #dddddd;
    border-top: 4px #cdcdcd solid;
    min-height: 10rem;
}

.pad-top-1 {
    padding-top: 1rem;
}

.link-container {
    overflow-x: scroll;
    overflow-y:hidden;
    white-space: nowrap;
    width: 100%;
}

.song-link {
    margin-right: 4rem;
    width: 14rem;
    display: inline-block;
}

.song-link img {
    width: 14rem;
}

.song-link  div p {
    margin:0;
    color: white;
}

.song-link div {
    position: relative;
    bottom: 1.4rem;
    text-align: center;
    width: auto;
    background: rgba(0.3,0.3,0.3,0.85);
}

#cover-img {
    width: inherit;
}

#comment-row {
    margin: 0;
}

#spotify-results {
    padding:0;
}

#spotify-results div{
    border-bottom: 1px #efefef solid;
}
.result-head {
    margin: 0;
}
.result-img {
    width: inherit;
}

textarea {
    resize: none;
}

.result {
    text-decoration: none;
    color: inherit;
}