{% extends 'treble/base.html' %}
{% load staticfiles %}

{% block title_block %}
    FAQ
{% endblock %}

{% block body_block %}
    <h1>Frequently Asked Questions</h1><hr>
    <h3>What is treble?</h3>
    <p>Treble is a simple way to find new recommendations for songs you might like.</p>
    <h3>How does it work?</h3>
    <p>You can add new songs powered by Spotify. You can then recommend songs that are similar to it. You can also review songs.</p>
    <h3>What is a comment?</h3>
    <p>A comment is a 256 character text review of a song, as well as a cute reaction emoji. You can only have one review per song.</p>
    <h3></h3>
{% endblock %}