{% extends 'treble/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Most Recommended
{% endblock %}

{% block body_block %}
    <p>Here is a list of the recommended tracks from our users!</p>
	{% if songs %}
		<ul>
		{% for song in songs %}
			<li class="song-link">
              <a href="{% url 'song' song.song_id %}">
                  <img src="{{ song.artwork_url }}"/>
                  <div class="song-title">
                      <p>{{ song.track_name }}</p>
                  </div>
              </a>
          </li>
		{% endfor %}
		</ul>
	{% else %}
		<h2> oopsie, looks like there's nothing in our database! </h2>
	{% endif %}
{% endblock %}

