{% extends 'treble/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ song.track_name }} - {{ song.artist }}
{% endblock %}

{% block body_block %}
    <div class="row pad-top-1">
        <div class="col-md-4 order-md-2">
            <img id="cover-img" src="{{ song.artwork_url }}"/>
        </div>
        <div id="details" class="col-md-8 order-md-1">
            <h1>{{ song.track_name }}</h1>
            <h2>{{ song.artist }}</h2>
            <iframe src="https://open.spotify.com/embed?uri={{ song.spotify_uri }}"
        frameborder="0" allow="encrypted-media" allowtransparency="true"></iframe>
        </div>
    </div>
    <div id="similar-to">
        <div class="row">
            <h3>Similar to</h3>
            {% if user.is_authenticated %}
                <div class="left-pad">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-rec-modal-lg">
                        + Add
                    </button>
                </div>
            {% endif %}
        </div>
        <ul class="link-container">
            {% for song in recommended %}
                <li class="song-link">
                    <a href="{% url 'song' song.song_id %}">
                        <img src="{{ song.artwork_url }}"/>
                        <div class="song-title">
                            <p>{{ song.track_name }}</p>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="reviews">
        <h3>Reviews</h3>
        {% if edit %}
            <div id="edit-comment-row">
        {% else %}
            <div id="comment-row">
        {% endif %}
                {% if user.is_authenticated and form %}
                {% if comment_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ comment_errors }}
                    </div>
                {% endif %}
                {% if edit %}
                    <form action="{% url 'edit_comment' song.song_id prev_comment_id %}" method="post" id="comment-form">
                {% else %}
                    <form action="{% url 'song_comment' song.song_id %}" method="post" id="comment-form">
                {% endif %}
                    {% csrf_token %}
                    {% for field in form %}
                        {% if not field.is_hidden %}
                        <div class="row form-group">
                            <label for="{{ field.id_for_label }}" class="col-sm-3 col-form-label">{{ field.label }}</label>
                            {{ field }}
                        </div>
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    {% if edit %}
                        <input type="submit" name="submit" value="Update Review"/>
                    {% else %}
                        <input type="submit" name="submit" value="Submit Review"/>
                    {% endif %}
                </form>
            {% elif not user.is_authenticated %}
                <p><a href="{% url 'auth_login' %}">Log in</a> to add a review</p>
            {% endif %}
        </div>
        <div class="row">
        {% if comments.count > 0 %}
            {% for review in comments %}
                <div class="col-md-6">
                    {% if review.username.id == user.id %}
                        <b>Review by you | </b><a id="edit-comment" href="javascript:void(0)">edit</a><br>
                    {% else %}
                        <b>Review by {{ review.username }}</b><br>
                    {% endif %}
                    <b>Reaction:</b>{{ review.get_reaction_display }}<br>
                    <p class="comment-message">{{ review.message }}</p><br>
                    <p class="comment-date">{{ review.datetime|date:"H.i | j M Y" }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>There are no reviews for this track. Why not add one?</p>
        {% endif %}
        </div>
    </div>
    {% if user.is_authenticated %}
    <div id="add-rec-modal" class="modal fade bd-rec-modal-lg" tabindex="-1" role="dialog" aria-labelledby="add-rec-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="add-song-modal-label">Add Recommendation</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                <form id="add-rec-form" action="{% url 'song_recommendation' song_id=song.song_id%}" method="post">
                {% csrf_token %}
                    {% for field in recommend_form %}
                    {{ field }}
                    {% endfor %}
                </form>
                <button type="button" id="add_song" class="btn btn-primary" data-toggle="modal" >Add song</button>
                </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" form="add-rec-form">Add</button>
            </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
{% block additional_js %}
    {% include "includes/search_js_stub.html" %}
    <script>{% include "treble/song_comment.js" %}</script>
    <script src="{% static 'dynamic_add_song.js' %}"></script>
{% endblock %}
