{% extends 'treble/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ song.track_name }} - {{ song.artist }}
{% endblock %}

{% block body_block %}
    <div class="row pad-top-1">
        <div class="col-md-4 order-md-2">
            <img id="cover-img" src="{{ song.artwork_url }}"/>
        </div>
        <div id="details" class="col-md-8 order-md-1">
            <h1>{{ song.track_name }}</h1>
            <h2>{{ song.artist }}</h2>
            <iframe src="https://open.spotify.com/embed?uri={{ song.spotify_uri }}"
        frameborder="0" allow="encrypted-media" allowtransparency="true"></iframe>
        </div>
    </div>
    <div id="similar-to">
        <h3>Similar to</h3>
        <ul class="link-container">
            {% for song in recommended %}
                <li class="song-link">
                    <a href="{% url 'song' song.song_id %}">
                        <img src="{{ song.artwork_url }}"/>
                        <div class="song-title">
                            <p>{{ song.track_name }}</p>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="reviews">
        <h3>Reviews</h3>
        <div class="row" id="comment-row">
            {% if user.is_authenticated %}
                {% if comment_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ comment_errors }}
                    </div>
                {% endif %}
                <form action="{% url 'song_comment' song.song_id %}" method="post" id="comment-form">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name == "message" %}
                        <div class="row">
                            <label for="{{ field.id_for_label }}" class="col-3">Comment</label>
                            {{ field }}
                        </div>
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <input type="submit" name="submit" value="Comment"/>
                </form>
            {% else %}
                <p>You need to be logged in to add a comment</p>
            {% endif %}
        </div>
        <div class="row">
        {% if comments.count > 0 %}
            {% for review in comments %}
                <div class="col-md-6">
                    <b>Review from {{ review.username }}</b><br>
                    <b>Reaction:</b>{{ review.get_reaction_display }}
                    <p>{{ review.message }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>There are no reviews for this track. Why not add one?</p>
        {% endif %}
        </div>
    </div>
{% endblock %}
